node_modules/electron/dist/electron.exe
release/win-unpacked/binaries/avcodec-62.dll
release/win-unpacked/binaries/avdevice-62.dll
release/win-unpacked/binaries/avfilter-11.dll
release/win-unpacked/binaries/avformat-62.dll
release/win-unpacked/binaries/avutil-60.dll
release/win-unpacked/binaries/ffmpeg.exe
release/win-unpacked/binaries/ffplay.exe
release/win-unpacked/binaries/ffprobe.exe
release/win-unpacked/binaries/swresample-6.dll
release/win-unpacked/binaries/swscale-9.dll
release/win-unpacked/binaries/yt-dlp.exe
release/win-unpacked/chrome_100_percent.pak
release/win-unpacked/chrome_200_percent.pak
release/win-unpacked/d3dcompiler_47.dll
release/win-unpacked/dxcompiler.dll
release/win-unpacked/dxil.dll
release/win-unpacked/ffmpeg.dll
release/win-unpacked/icudtl.dat
release/win-unpacked/libEGL.dll
release/win-unpacked/libGLESv2.dll
release/win-unpacked/LICENSE.electron.txt
release/win-unpacked/LICENSES.chromium.html
release/win-unpacked/locales/af.pak
release/win-unpacked/locales/am.pak
release/win-unpacked/locales/ar.pak
release/win-unpacked/locales/bg.pak
release/win-unpacked/locales/bn.pak
release/win-unpacked/locales/ca.pak
release/win-unpacked/locales/cs.pak
release/win-unpacked/locales/da.pak
release/win-unpacked/locales/de.pak
release/win-unpacked/locales/el.pak
release/win-unpacked/locales/en-GB.pak
release/win-unpacked/locales/en-US.pak
release/win-unpacked/locales/es-419.pak
release/win-unpacked/locales/es.pak
release/win-unpacked/locales/et.pak
release/win-unpacked/locales/fa.pak
release/win-unpacked/locales/fi.pak
release/win-unpacked/locales/fil.pak
release/win-unpacked/locales/fr.pak
release/win-unpacked/locales/gu.pak
release/win-unpacked/locales/he.pak
release/win-unpacked/locales/hi.pak
release/win-unpacked/locales/hr.pak
release/win-unpacked/locales/hu.pak
release/win-unpacked/locales/id.pak
release/win-unpacked/locales/it.pak
release/win-unpacked/locales/ja.pak
release/win-unpacked/locales/kn.pak
release/win-unpacked/locales/ko.pak
release/win-unpacked/locales/lt.pak
release/win-unpacked/locales/lv.pak
release/win-unpacked/locales/ml.pak
release/win-unpacked/locales/mr.pak
release/win-unpacked/locales/ms.pak
release/win-unpacked/locales/nb.pak
release/win-unpacked/locales/nl.pak
release/win-unpacked/locales/pl.pak
release/win-unpacked/locales/pt-BR.pak
release/win-unpacked/locales/pt-PT.pak
release/win-unpacked/locales/ro.pak
release/win-unpacked/locales/ru.pak
release/win-unpacked/locales/sk.pak
release/win-unpacked/locales/sl.pak
release/win-unpacked/locales/sr.pak
release/win-unpacked/locales/sv.pak
release/win-unpacked/locales/sw.pak
release/win-unpacked/locales/ta.pak
release/win-unpacked/locales/te.pak
release/win-unpacked/locales/th.pak
release/win-unpacked/locales/tr.pak
release/win-unpacked/locales/uk.pak
release/win-unpacked/locales/ur.pak
release/win-unpacked/locales/vi.pak
release/win-unpacked/locales/zh-CN.pak
release/win-unpacked/locales/zh-TW.pak
release/win-unpacked/resources.pak
release/win-unpacked/resources/app-update.yml
release/win-unpacked/resources/app.asar
release/win-unpacked/resources/elevate.exe
release/win-unpacked/snapshot_blob.bin
release/win-unpacked/v8_context_snapshot.bin
release/win-unpacked/vk_swiftshader.dll
release/win-unpacked/vk_swiftshader_icd.json
release/win-unpacked/vulkan-1.dll
release/win-unpacked/YouTube Downloader.exe
release/YouTube Downloader Setup 1.0.0.exe
release/YouTube Downloader Setup 1.0.0.exe.blockmap
